/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}




/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
    
}
.sidebar::-webkit-scrollbar {
        width:15px;
    }
    .sidebar::-webkit-scrollbar-thumb {
        background-color:#eee;
        border-radius:5px;
    }

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}



/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

  .content {
            height: 100%;
            display: flex;
        }

        .padd {
            padding: 0;
        }

        .marg {
            margin: 0;
        }

        html {
            height: 100%;
        }

        body {
            height: 100%;
        }

        .panel-group .panel + .panel {
            margin: 0;
        }

        .sidebar .panel-body {
            border-right: 2px solid #217fbd;
        }

        .navbox {
            margin-right: -14px;
        }

        .modal .row > div {
            height: 34px;
            line-height: 34px;
        }

        .modal .modal-header {
            /*background-color: #428bca;
        color: white;*/
        }

        .mains {
            padding: 20px 15px;
        }

.form-group .control-label{
    line-height:34px;
    text-align:right;
}

.modal .form-group{
    margin-bottom:5px;
}

.form-group:after{
    content:'';
    display:block;
    clear:both;
}
.clear:after{
    content:'';
    display:block;
    clear:both;
}

.ul-full,.ul-full ul{
            padding:0;
            text-align:center;
        }
        .ul-full a{
            display:inline-block;
            width:100%;
            padding:5px 15px;
        }
        .ul-full a:hover{
            text-decoration: none;
            background-color: #eee;
        }



.mains{
    background-color:white;
}
#navbar ,
.sidebar,
.sidebar .panel,
.sidebar .panel .panel-heading,
.content{
    background-color:#283643;
    border-color:#283643;
}
.sidebar .panel-group{
    margin-top:20px;
}
.sidebar .panel-heading:hover{
    background-color: #24303c;
}

.sidebar .panel-heading a,
.sidebar .panel-body a{
   color: #A2B4BA;
   font-size:14px;
}

.sidebar .panel-heading a:hover,
.sidebar .panel-body a:hover{
   color: white;
   text-decoration:none;
}
.sidebar .panel-body a:hover{
    background: #222a31;
}




.sidebar .panel-collapse>.panel-body{
    border-top-color:#222a31;
    background: #222a31;
    border-color:#222a31;
}




.active a{
    color:white;
}


.nav-sidebar a{
    margin-left:2em;
}




