@using WXDataModel
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/dashboard.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    @RenderSection("styles", required: false)
</head>
@{
    SYS_User user = Session["SYSUSER"] as SYS_User;
}
<body>
    @*导航条*@
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Home/Hello">项目名称</a>

            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">设置</a></li>
                    <li><a href="#">帮助</a></li>
                    <li></li>    
                    <li>
                        <a href="/Base/Home/ChangeApp" data-toggle="modal" data-backdrop="false"
                           data-target="#ChangeApp">公众号:@user.WX_App.AppName</a>
                    </li>
                    @*<li>
                        <a href="/Home/MenuEdit/0" data-toggle="modal" data-backdrop="false"
                           data-target="#MenuEdit">添加菜单</a>
                    </li>*@
                </ul>
                <form class="navbar-form navbar-right">
                    <input type="text" class="form-control" placeholder="搜索...">
                </form>
            </div>
        </div>
    </nav>

    <div class="content">
        <div class="col-sm-3 col-md-2 sidebar" style="padding: 0;">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion"
                               href="#collapseOne" aria-expanded="true"
                               aria-controls="collapseOne">
                                Collapsible Group Item #1
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <ul class="nav nav-sidebar navbox">
                                <li class="active"><a href="/base/home/index" id="toIndex">Index <span class="sr-only">(current)</span></a></li>
                                <li><a href="#" id="toTest">Test</a></li>
                                <li><a href="/WXUser/Home/Index">订阅用户管理</a></li>
                                <li><a href="/Base/Home/SysUser">系统用户管理</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse"
                               data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
                               aria-controls="collapseTwo">
                                Collapsible Group Item #2
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            <ul class="nav nav-sidebar navbox">
                                <li><a href="#">功能名</a></li>
                                <li><a href="#">功能名</a></li>
                                <li><a href="#">功能名</a></li>
                                <li><a href="#">功能名</a></li>
                                <li><a href="#">功能名</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse"
                               data-parent="#accordion" href="#collapseThree" aria-expanded="false"
                               aria-controls="collapseThree">
                                Collapsible Group Item #3
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                            3
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 mains">
            @RenderBody()
        </div>
    </div>

    <div class="modal fade" id="EditSysUser">
        <div class="modal-dialog">
            <div class="modal-content">
                
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    @*修改当前微信账号模态框*@
    <div class="modal fade" id="ChangeApp">
        <div class="modal-dialog">
            <div class="modal-content">
                
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    @*修改当前微信账号模态框end*@

    @*编辑公众号模态框*@
    <div class="modal fade" id="EditApp">
        <div class="modal-dialog">
            <div class="modal-content">

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    @*编辑公众号模态框end*@

    <script>
        $(function () {
            //设置模态框属性
            $('.modal').on('hidden.bs.modal', function (e) {
                $(this).removeData();
            });
            //设置模态框属性end
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
