<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/mui.imageviewer.css" />
		<link rel="stylesheet" href="../../css/IM-Chat.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title mui-text-left" id="head">聊天对象 </h1>
		</header>
		<pre id='h'></pre>
		<script id='msg-template' type="text/template">
			<% for(var i in record){ var item=record[i]; %>
					<% if(item.content!=""){%>
						<div class="msg-item <%= (item.sender=='self'?' msg-item-self':'') %>" msg-type='<%=(item.type)%>' msg-content='<%=(item.content)%>'>
							<% if(item.sender=='self' ) { %>
								<i class="msg-user mui-icon mui-icon-person"></i>
							<% } else { %>
								<img class="msg-user-img" src="<%=(item.HeaderImg)%>" alt="" />
							<% } %>
							<div class="msg-content">
								<div class="msg-content-inner">
									<% if(item.type=='text' ) { %>
										<%=( item.content|| '&nbsp;&nbsp;') %>
									<% } else if(item.type=='image' ) { %>
										<img class="msg-content-image" src="<%=(item.content)%>" style="max-width: 100px;" />
									<% } else if(item.type=='sound' ) { %>
										<span class="mui-icon mui-icon-mic" style="font-size: 18px;font-weight: bold;"></span>
										<span class="play-state">点击播放</span>
									<% } %>
								</div>
								<div class="msg-content-arrow"></div>
							</div>
							<div class="mui-item-clear"></div>
						</div>
					<%}%> 
				<% } %>
		</script>
		<div class="mui-content">
			<div id='msg-list'>
			</div>
		</div>
		<footer>
			<div class="footer-left">
				<i id='msg-image' class="mui-icon mui-icon-camera" style="font-size: 28px;"></i>
			</div>
			<div class="footer-center">
				<textarea id='msg-text' type="text" class='input-text'></textarea>
				<button id='msg-sound' type="button" class='input-sound' style="display: none;">按住说话</button>
			</div>
			<label for="" class="footer-right">
				<i id='msg-type' class="mui-icon mui-icon-mic"></i>
			</label>
		</footer>
		<div id='sound-alert' class="rprogress">
			<div class="rschedule"></div>
			<div class="r-sigh">!</div>
			<div id="audio_tips" class="rsalert">手指上滑，取消发送</div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/mui.imageViewer.js"></script>
		<script type="text/javascript" src="../../js/arttmpl.js"></script>
		<script type="text/javascript" src="../../js/vue.js" ></script>
		<script type="text/javascript">
			(function($, doc) {
				var MIN_SOUND_TIME = 800;
				$.init({
					gestureConfig: {
						tap: true, //默认为true
						doubletap: true, //默认为false
						longtap: true, //默认为false
						swipe: true, //默认为true
						drag: true, //默认为true
						hold: true, //默认为false，不监听
						release: true //默认为false，不监听
					}
				});
				template.config('escape', false);
				
				$.plusReady(function() {
					var BaseUrl = plus.storage.getItem("BaseUrl");
					var custom = JSON.parse(plus.storage.getItem("Custom"));
					var selfY=plus.webview.currentWebview();
					var showKeyboard = function() {
						if($.os.ios) {
							var webView = plus.webview.currentWebview().nativeInstanceObject();
							webView.plusCallMethod({
								"setKeyboardDisplayRequiresUserAction": false
							});
						} else {
							var Context = plus.android.importClass("android.content.Context");
							var InputMethodManager = plus.android.importClass("android.view.inputmethod.InputMethodManager");
							var main = plus.android.runtimeMainActivity();
							var imm = main.getSystemService(Context.INPUT_METHOD_SERVICE);
							imm.toggleSoftInput(0, InputMethodManager.SHOW_FORCED);
							imm.showSoftInput(main.getWindow().getDecorView(), InputMethodManager.SHOW_IMPLICIT);
						}
					};
					var Old_back = mui.back;
					mui.back = function() {
						Old_back();
					};
					var record = [{
						sender: '',
						type: '',
						content:'',
					}];
					//发送信息到后台
					var SendSer = function(sen) {
						var info = {
							appId: custom.AppId,
							Content: sen.content,
							OpenId:JSON.stringify(selfY.openIdList)
						}
						mui.ajax({
							url: BaseUrl + "/Mobile/GroupSend",
							data: info,
							success: function(data) {
							},
							error: function(XMLHttpRequest, textStatus, errorThrown) {
								console.log("请求对象XMLHttpRequest: " + XMLHttpRequest);
								console.log("错误类型textStatus: " + textStatus);
								console.log("异常对象errorThrown: " + errorThrown);
							}
						});
					}
					var ui = {
						body: doc.querySelector('body'),
						footer: doc.querySelector('footer'),
						footerRight: doc.querySelector('.footer-right'),
						footerLeft: doc.querySelector('.footer-left'),
						btnMsgType: doc.querySelector('#msg-type'),
						boxMsgText: doc.querySelector('#msg-text'),
						boxMsgSound: doc.querySelector('#msg-sound'),
						btnMsgImage: doc.querySelector('#msg-image'),
						areaMsgList: doc.querySelector('#msg-list'),
						boxSoundAlert: doc.querySelector('#sound-alert'),
						h: doc.querySelector('#h'),
						content: doc.querySelector('.mui-content')
					};
					ui.h.style.width = ui.boxMsgText.offsetWidth + 'px';
					var footerPadding = ui.footer.offsetHeight - ui.boxMsgText.offsetHeight;
					var msgItemTap = function(msgItem, event) {
						var msgType = msgItem.getAttribute('msg-type');
						var msgContent = msgItem.getAttribute('msg-content')
						if(msgType == 'sound') {
							player = plus.audio.createPlayer(msgContent);
							var playState = msgItem.querySelector('.play-state');
							playState.innerText = '正在播放...';
							player.play(function() {
								playState.innerText = '点击播放';
							}, function(e) {
								playState.innerText = '点击播放';
							});
						}
					};
					var imageViewer = new $.ImageViewer('.msg-content-image', {
						dbl: false
					});
					var bindMsgList = function() {
						//将数据绑定到界面上
						ui.areaMsgList.innerHTML = template('msg-template', {
							"record":record 
						});
						//拿到所有的聊天节点
						var msgItems = ui.areaMsgList.querySelectorAll('.msg-item');
						//因为document.querySelectorAll()返回的并不是我们想当然的数组，而是NodeList，对NodeList，它里面没有.forEach方法，我们使用了这样的方法进行循环：
						//通过call将this绑定到msgItems（以[]下标的方式去遍历msgItems）
						[].forEach.call(msgItems, function(item, index) {
							item.addEventListener('tap', function(event) {
								//处理语音消息播放
								msgItemTap(item, event);
							}, false);
						});
						//查找所有符合条件的图片
						imageViewer.findAllImage();
						//聊天界面的高度修改
						ui.areaMsgList.scrollTop = ui.areaMsgList.scrollHeight + ui.areaMsgList.offsetHeight;
					};
					bindMsgList();
					window.addEventListener('resize', function() {
						ui.areaMsgList.scrollTop = ui.areaMsgList.scrollHeight + ui.areaMsgList.offsetHeight;
					}, false);
					//发送对象声明
					var send = function(msg) {
						//将消息内容体push进record
						record.push(msg);
						if(msg.type=="text"){
							SendSer(msg);	
						}
						bindMsgList();
					}
					//让输入框获取焦点
					function msgTextFocus() {
						ui.boxMsgText.focus();
						setTimeout(function() {
							ui.boxMsgText.focus();
						}, 150);
					}
					//解决长按“发送”按钮，导致键盘关闭的问题；
					ui.footerRight.addEventListener('touchstart', function(event) {
						if(ui.btnMsgType.classList.contains('mui-icon-paperplane')) {
							msgTextFocus();
							event.preventDefault();
						}
					});
					//长按 离开屏幕时触发
					ui.footerRight.addEventListener('release', function(event) {
						//文字
						if(ui.btnMsgType.classList.contains('mui-icon-paperplane')) {
							//showKeyboard();
							ui.boxMsgText.focus();
							setTimeout(function() {
								ui.boxMsgText.focus();
							}, 150);
							send({
								sender: 'self',
								type: 'text',
								content: ui.boxMsgText.value.replace(new RegExp('\n', 'gm'), '<br/>'), //获取文字
							});
							ui.boxMsgText.value = '';
							$.trigger(ui.boxMsgText, 'input', null);
						}
						//语音
						else if(ui.btnMsgType.classList.contains('mui-icon-mic')) {
							ui.btnMsgType.classList.add('mui-icon-compose');
							ui.btnMsgType.classList.remove('mui-icon-mic');
							ui.boxMsgText.style.display = 'none';
							ui.boxMsgSound.style.display = 'block';
							ui.boxMsgText.blur();
							document.body.focus();
						}
						//文本状态
						else if(ui.btnMsgType.classList.contains('mui-icon-compose')) {
							ui.btnMsgType.classList.add('mui-icon-mic');
							ui.btnMsgType.classList.remove('mui-icon-compose');
							ui.boxMsgSound.style.display = 'none';
							ui.boxMsgText.style.display = 'block';
							//--
							//showKeyboard();
							ui.boxMsgText.focus();
							setTimeout(function() {
								ui.boxMsgText.focus();
							}, 150);
						}
					}, false);
					//点击照相按钮
					ui.footerLeft.addEventListener('tap', function(event) {
						var btnArray = [{
							title: "拍照"
						}, {
							title: "从相册选择"
						}];
						plus.nativeUI.actionSheet({
							title: "选择照片",
							cancel: "取消",
							buttons: btnArray
						}, function(e) {
							var index = e.index;
							switch(index) {
								case 0:
									break;
								case 1:
									var cmr = plus.camera.getCamera();
									cmr.captureImage(function(path) {
										send({
											sender: 'self',
											type: 'image',
											content: "file://" + plus.io.convertLocalFileSystemURL(path),
										});
										upLoadimg("file://" + plus.io.convertLocalFileSystemURL(path),"image");
									}, function(err) {});
									break;
								case 2:
									plus.gallery.pick(function(path) {
										send({
											sender: 'self',
											type: 'image',
											content: path,
										});
										upLoadimg(path,"image");
									}, function(err) {}, null);
									break;
							}
						});
					}, false);
					
					var upLoadimg=function(path,type){
						 var task = plus.uploader.createUpload( BaseUrl+"/mobile/Upload", 
						 { method:"POST",blocksize:204800,priority:100 },
						 function ( t, status ) {
								// 上传完成
								if ( status == 200 ) {
									if(selfY.TagId==undefined){
										mui.toast("暂不支持");
										return;
									}
									var info={
										AppId:custom.AppId,
										fileName:t.responseText,
										fileType:type,
										tagId:selfY.TagId
									}
									mui.ajax({
										url:BaseUrl+"/mobile/SendImageInGP",
										data:info,
										success:function(data){
											console.log(JSON.stringify(data));
										},error: function(XMLHttpRequest, textStatus, errorThrown) {
											console.log("请求对象XMLHttpRequest: " + XMLHttpRequest);
											console.log("错误类型textStatus: " + textStatus);
											console.log("异常对象errorThrown: " + errorThrown);
										}
									});
								} else {
									alert( "Upload failed: " + status );
								}
							}
						);
						task.addFile(path,{key:'myfile'}); 
						task.start();
					}
					//按住语音显示与隐藏
					var setSoundAlertVisable = function(show) {
						if(show) {
							ui.boxSoundAlert.style.display = 'block';
							ui.boxSoundAlert.style.opacity = 1;
						} else {
							ui.boxSoundAlert.style.opacity = 0;
							//fadeOut 完成再真正隐藏
							setTimeout(function() {
								ui.boxSoundAlert.style.display = 'none';
							}, 200);
						}
					};

					var recordCancel = false;
					var recorder = null; //录音对象
					var audio_tips = document.getElementById("audio_tips");
					var startTimestamp = null; //录音开始时间
					var stopTimestamp = null; //录音结束时间
					var stopTimer = null; //

					//按住说话时触发
					ui.boxMsgSound.addEventListener('hold', function(event) {
						recordCancel = false;
						//如果有结束时间，清楚定时器
						if(stopTimer) clearTimeout(stopTimer);
						audio_tips.innerHTML = "手指上划，取消发送";
						//移除
						ui.boxSoundAlert.classList.remove('rprogress-sigh');
						setSoundAlertVisable(true);
						recorder = plus.audio.getRecorder();
						if(recorder == null) {
							plus.nativeUI.toast("不能获取录音对象");
							return;
						}

						//计算录音时间
						startTimestamp = (new Date()).getTime();
						recorder.record({
							filename: "_doc/audio/"
						}, function(path) {
							if(recordCancel) return;
							send({
								sender: 'self',
								type: 'sound',
								content: path,
							});
							upLoadimg(path,"voice");
						}, function(e){
							plus.nativeUI.toast("录音时出现异常: " + e.message);
						});
					}, false); //语音发送

					ui.body.addEventListener('drag', function(event) {
						//console.log('drag');
						if(Math.abs(event.detail.deltaY) > 50) {
							if(!recordCancel) {
								recordCancel = true;
								if(!audio_tips.classList.contains("cancel")) {
									audio_tips.classList.add("cancel");
								}
								audio_tips.innerHTML = "松开手指，取消发送";
							}
						} else {
							if(recordCancel) {
								recordCancel = false;
								if(audio_tips.classList.contains("cancel")) {
									audio_tips.classList.remove("cancel");
								}
								audio_tips.innerHTML = "手指上划，取消发送";
							}
						}
					}, false);

					//长按离开录音时执行
					ui.boxMsgSound.addEventListener('release', function(event) {
						//console.log('release');

						//初始化
						if(audio_tips.classList.contains("cancel")) {
							audio_tips.classList.remove("cancel");
							audio_tips.innerHTML = "手指上划，取消发送";
						}
						//判断时长
						stopTimestamp = (new Date()).getTime();
						if(stopTimestamp - startTimestamp < MIN_SOUND_TIME) {
							audio_tips.innerHTML = "录音时间太短";
							ui.boxSoundAlert.classList.add('rprogress-sigh');
							recordCancel = true;
							stopTimer = setTimeout(function() {
								setSoundAlertVisable(false);
							}, 800);
						} else {
							setSoundAlertVisable(false);
						}
						recorder.stop();
					}, false);
					ui.boxMsgSound.addEventListener("touchstart", function(e) {
						//console.log("start....");
						e.preventDefault();
					}); //语音

					ui.boxMsgText.addEventListener('input', function(event) {
						ui.btnMsgType.classList[ui.boxMsgText.value == '' ? 'remove' : 'add']('mui-icon-paperplane');
						ui.btnMsgType.setAttribute("for", ui.boxMsgText.value == '' ? '' : 'msg-text');
						ui.h.innerText = ui.boxMsgText.value.replace(new RegExp('\n', 'gm'), '\n-') || '-';
						ui.footer.style.height = (ui.h.offsetHeight + footerPadding) + 'px';
						ui.content.style.paddingBottom = ui.footer.style.height;
					}); //编辑文本

					var focus = false;
					//点击发送时触发
					ui.boxMsgText.addEventListener('tap', function(event) {
						ui.boxMsgText.focus();
						setTimeout(function() {
							ui.boxMsgText.focus();
						}, 0);
						focus = true;
						setTimeout(function() {
							focus = false;
						}, 1000);
						event.detail.gesture.preventDefault();
					}, false);
					//点击消息列表，关闭键盘
					ui.areaMsgList.addEventListener('click', function(event) {
						if(!focus) {
							ui.boxMsgText.blur();
						}
					});
				}); //plusReady
			}(mui, document))
		</script>
	</body>

</html>