<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
	</head>
	<style>
		#GrooupBox {
			background-color: white;
			padding-left: 25px;
			padding-top: 15px;
		}
		
		#GrooupBox li {
			margin: 0 2px;
		}
		
		#GrooupBox li img {
			border-radius: 5px;
			width: 55px;
		}
		#NoBody{
			margin: 15% 0 0 0 ;
		}
		#NoBody ul li{
			line-height: 50px;
		}
		.Head_Img{
			position: relative;
		}
		.icon{
			display: none;
			position: absolute;
		}
		.dis{
			display: block;
		}
	</style>
	<body>
		<header class="mui-bar mui-bar-nav">
		    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		    <h1 class="mui-title mui-text-left">用户预览</h1>
		</header>
		<div class="mui-content" id="HeaderImage">
			<div v-for="item in obj" id="Content">
				<ul v-for="item in obj" class="mui-list-inline" id="GrooupBox">
					<template  v-for="object in item.User">
						<li class="mui-text-center OpenUserInfo">
							<ul  class="mui-list-unstyled" v-bind:OpenID="object.OpenID">
								<li class="Head_Img">
									<img V-bind:src="object.HeadImageUrl" />
								</li>
								<li style="max-width: 50px;" class="mui-ellipsis">
									<p v-if="object.UserName !=null">{{object.UserName}}</p>
									<p v-else="object.UserNick !=null">{{object.UserNick}}</p>
								</li>
							</ul>
						</li>
					</template>
				</ul>
				<div class="mui-content-padded">
					<button v-on:click="btn" class="mui-btn mui-btn-green mui-btn-block">确认用户</button>
				</div>
			</div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/vue.js"></script>
		<script src="../../js/jquery-2.2.4.js"></script>
		<script type="text/javascript">
			mui.init();
			mui.plusReady(function(){
				var self = plus.webview.currentWebview();
				var BaseUrl=plus.storage.getItem("BaseUrl");
				var custom=JSON.parse(plus.storage.getItem("Custom"));//获取登陆对象
				var info={
					UserId:custom.UserId,
					AppID:custom.AppId,
					TagId:self.TagID
				};
				mui.ajax({
					url:BaseUrl+"/Mobile/TagInfo",
					data:info,
					success:function(data){
						UserGroup.obj=data;
					},error:function(XMLHttpRequest,textStatus,errorThrown){
							console.log("请求对象XMLHttpRequest: "+XMLHttpRequest);
							console.log("错误类型textStatus: "+textStatus);
							console.log("异常对象errorThrown: "+errorThrown);
					}
				});//ajax
				var UserGroup=new Vue({
					el:"#HeaderImage",
					data:{
						obj:[]
					},
					methods:{
						btn:function(event){
							var openIdList=[];
							UserGroup.obj.forEach(function(v){
								v.User.forEach(function(s){
									openIdList.push(s.OpenID);
								});
							});
							if(self.type=="media"){
								var info={
									tagId:self.TagID,
									mediaId:self.mediaId,
									AppId:custom.AppId
								}
								console.log(JSON.stringify(info));
								mui.ajax({
									url:BaseUrl+"/mobile/SendNews",
									data:info,
									success:function(data){
										console.log(JSON.stringify(data));
									},error:function(XMLHttpRequest,textStatus,errorThrown){
											console.log("请求对象XMLHttpRequest: "+XMLHttpRequest);
											console.log("错误类型textStatus: "+textStatus);
											console.log("异常对象errorThrown: "+errorThrown);
									}
								});
							}else{
								mui.openWindow({
								    id:"GroupSend.html",
								    url:"../Group/GroupSend.html",
								    extras:{
								      	openIdList:openIdList,//自定义扩展参数，可以用来处理页面间传值
								      	TagId:self.TagID
								    },
								    createNew:false,//是否重复创建同样id的webview，默认为false:不重复创建，直接显示
								    show:{
								      autoShow:true,//页面loaded事件发生后自动显示，默认为true
			//					      aniShow:slide-in-right,//页面显示动画，默认为”slide-in-right“；
								      duration:500//页面动画持续时间，Android平台默认100毫秒，iOS平台默认200毫秒；
								    },
								    waiting:{
								      autoShow:true,//自动显示等待框，默认为true
								      title:'正在加载...'//等待对话框上显示的提示内容
								    }
								});//新开窗体
							}
							
						}
					}
				});
			});//Ready
			
			function Action(data){
				
			}//Action
		</script>
	</body>
	
</html>