.box {
    display: flex;
    position: relative;
    height: 650px;
    border: 1px solid red;
}

.easyui-layout .panel {
    background-color: white;
}

.panel-title {
    font-weight: normal;
}

.bg-color {
    background-color: #217fbd;
    color: #fff;
}

.bg-color-f5 {
    background-color: #f5f5f5;
    color: #333;
}

.box-shadow {
    -moz-box-shadow: 3px 1px 5px #ddd; /* 老的 Firefox */
    box-shadow: 3px 1px 5px #ddd;
}

.fr {
    float: right;
}

/*.option {
            width: 20px;
            float: left;
        }*/
/*.note-box .tab-content {
            border: none;
        }*/

.Roll {
    overflow-y: scroll;
}

    .Roll::-webkit-scrollbar {
        width: 5px;
        padding-right: -15px;
    }

    .Roll::-webkit-scrollbar-thumb {
        background-color: #217fbd;
        border-radius: 5px;
    }

    .Roll::-webkit-scrollbar-thumb {
        background-color: #217fbd;
        border-radius: 5px;
    }

.talk-body {
    width: 100%;
    height: 75%;
    padding: 15px;
    line-height: 35px;
    font-size: 14px;
}

    .talk-body .talk-media {
        width: 100%;
        float: left;
        padding-top: 5px;
        padding-bottom: 5px;
    }

        .talk-body .talk-media .time {
            text-align: center;
            color: #ddd;
        }

        .talk-body .talk-media .user-head-l {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            border: 1px solid #f5f5f5;
            float: left;
        }

        .talk-body .talk-media .user-note-l {
            position: relative;
            max-width: 60%;
            border-radius: 5px;
            float: left;
            margin-left: 10px;
            padding: 10px 10px;
            line-height: 25px;
        }

            .talk-body .talk-media .user-note-l .arrowl {
                position: absolute;
                top: 10px;
                left: -16px; /* 圆角的位置需要细心调试哦 */
                width: 0;
                height: 0;
                font-size: 0;
                border: solid 8px;
                border-color: transparent #f5f5f5 transparent transparent;
            }

        .talk-body .talk-media .user-head-r {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            border: 1px solid #f5f5f5;
            float: right;
        }

        .talk-body .talk-media .user-note-r {
            position: relative;
            max-width: 60%;
            border-radius: 5px;
            float: right;
            margin-right: 10px;
            padding: 10px 10px;
            line-height: 25px;
        }

            .talk-body .talk-media .user-note-r .arrowr {
                position: absolute;
                top: 10px;
                right: -16px; /* 圆角的位置需要细心调试哦 */
                width: 0;
                height: 0;
                font-size: 0;
                border: solid 8px;
                border-color: transparent transparent transparent #217fbd;
            }

.talk-bottom .emotion {
    border-top: 1px solid #ccc;
    padding: 0;
    margin: 5px 25px 0 25px;
    height: 30px;
    line-height: 40px;
}

    .talk-bottom .emotion a {
        color: #9d9d9d;
        font-size: 20px;
    }

.inputtext #note {
    border: none;
    width: 100%;
    outline: none;
}

.inputtext {
    padding: 0 22px;
}

.list-group {
    list-style: none;
}

.user_info {
    padding-bottom: 10px;
}

.user_title ul li {
    height: 25px;
    text-align: center;
    border-radius: 5px;
    margin: 2px 0;
    line-height: 25px;
    background: skyblue;
    color: white;
}

.padd-R-less {
    padding-right: 4px;
}

.paging {
    width: 100%;
    height: 100%;
}
