@using WXDataModel

@{
    List<WX_UserTag> tagList = ViewBag.TagList as List<WX_UserTag>;
}

<form action="/WXUser/Tag/DeleteTag" id="form" method="post">
    <div class="modal-dialog" style="width:500px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">删除标签</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-sm-3">标签名称</label>
                    <div class="col-sm-9">
                        <select class="form-control" name="tagid" id="tagid">
                            @foreach (var t in tagList)
                            {
                                <option value="@t.TagId">@t.TagName</option>
                            }
                        </select>
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <input type="button" id="submit" class="btn btn-primary" value="保存">
            </div>


        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->

</form>

<script>
    $(function () {
        $("#submit").click(function () {
            $.post("/WXUser/Tag/DeleteTag", "tagid=" + $("#tagid").val(), function (r) {
                console.log(r);
                if (r.errcode == 0) {
                    $("#TagGroupEdit").modal('hide');
                    GetTags();
                } else {
                    alert("错误代码:" + r.errcode + "," + r.errmsg);
                }
            });
        });
    });
</script>