
<form action="/" method="post">
    
    <div class="modal-dialog">
        <div class="modal-content">
            <input type="hidden" name="RoleId" id="RoleId" value="@ViewBag.RoleId" />
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">权限分配</h4>
            </div>
            <div class="modal-body">
                <div id="tree">

                </div>  
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="Save">保存</button>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->

</form>



<script src="/Scripts/bootstrap-treeview.js"></script>
<script>


    $(function () {

        getTree();
        $("#Save").click(function () {
            var node = $("#tree").treeview('getSelected');
            var json = [];
            $.each(node, function (i, obj) {
                json[i] = {
                    'id' : obj.id
                };
            });
            console.info(node);
            $.post("/Base/Role/EditRight", "roleId=" + $("#RoleId").val()+ "&json="+JSON.stringify(json), function (result) {
                if (result) {
                    $("#EditFunction").modal('hide')
                    GetRole();
                } else {
                    alert('修改失败');
                }
            });
        });

    })
    function getTree() {
        $.post("/Base/Role/GetFunction", "RoleId=" + $("#RoleId").val(), function (result) {
            //console.info(result);

            $('#tree').treeview({
                data: result,
                multiSelect: true, //是否可以同时选择多个节点      Boolean
                onNodeSelected: function (event, data) {
                    if (data.hasOwnProperty("nodes")) {
                        CheckNode(data.nodes);
                    }
                },
                onNodeUnselected: function (event, data) {
                    if (data.hasOwnProperty("nodes")) {
                        UnCheckNode(data.nodes);
                    }
                }
            });
            
        });
    }
    function CheckNode(Node) {
        $.each(Node, function (i, obj) {
            var node = $('#tree').treeview('getNode', obj.nodeId);
            console.info(node);
            node.state.selected = true;
            if (obj.hasOwnProperty("nodes")) {
                CheckNode(obj.nodes);
            }
        });

    }

    function UnCheckNode(Node) {
        $.each(Node, function (i, obj) {
            var node = $('#tree').treeview('getNode', obj.nodeId);
            console.info(node);
            node.state.selected = false;
            if (obj.hasOwnProperty("nodes")) {
                UnCheckNode(obj.nodes);
            }
        });
    }
</script>