

@{
    ViewBag.Title = "Index";
}

@section styles{

    <link href="~/Content/Common.css" rel="stylesheet" />
}




<div class="appcontent">
    <div class="col-xs-12 padd">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="rightheadingone">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseRight" aria-expanded="true" aria-controls="collapseRight">
                            查询内容
                        </a>
                    </h4>
                </div>
                <div id="collapseRight" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="rightheadingone">
                    <div class="panel-body">
                        <div class="col-xs-11">
                            <div class="form-inline topfind">
                                
                            </div>

                        </div>
                        <div class="col-xs-1">
                            <div>
                                <a href="#" class="btn btn-default">查询</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="datalist">
                <nav class="navbar marg  navbar-default navbar-static-top">
                    <div class="col-xs-12">
                        <h5 class="navbar-text navbar-left">数据列表<a href="#" class="navbar-link"></a></h5>
                        <div class="navbar-text navbar-right ">
                            <ul class="list-inline marg">
                                <li>
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <a href="/Base/Role/AddRole" data-toggle="modal" data-target="#EditRole">新增</a>
                                </li>
                                <li><i class="glyphicon glyphicon-pencil"></i><a href="#">修改</a></li>
                                <li><i class="glyphicon glyphicon-list"></i><a href="#">查看</a></li>
                                <li><i class="glyphicon glyphicon-minus"></i><a href="#">删除</a></li>
                                <li><i class="glyphicon glyphicon-refresh"></i><a href="#">刷新</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <div class="datacontent">
                    <div class="page-header">
                        <ul class="list-inline">
                            <li>
                                每页显示
                                <select>
                                    <option value="value">5</option>
                                    <option value="value">10</option>
                                </select>
                                条记录
                            </li>
                            <li>共有记录：<span>50</span>条</li>
                            <li>总页数：<span>10</span>页</li>
                        </ul>
                    </div>
                    <div class="fromcontent">
                        <table class="table table-bordered table-hover RoleList">
                            <thead>
                                <tr class="text-center">
                                    <th><input type="checkbox" name="name" id="CheckAll"/></th>
                                    <th>角色编号</th>
                                    <th>角色标识</th>
                                    <th>角色名称</th>
                                    <th>所属公众号</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div>
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                <li class="disabled marg">
                                    <a href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                                <li class=""><a href="#">2 <span class="sr-only">(current)</span></a></li>
                                <li>
                                    <a href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>

                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        //删除方法
        $(document).on("click", ".deleteRole", function () {
            var roleId = $(this).attr("roleId");
            if (confirm("确定要删除吗?")) {
                $.post("/Base/Role/DeleteRole/" + roleId, "", function (result) {
                    var errorMsg = "删除失败!";
                    if (result == 1) {
                        GetRole();
                    } else if (result == -1){
                        errorMsg += "该角色下还有管理员!";
                    } else if (result == -2) {
                        errorMsg += "清除权限时错误!";
                    }

                    if (result != 1) {
                        alert(errorMsg);
                    }
                });
            }
        });

        //删除end
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
            GetRole();
            

           
        });
        function GetRole() {
            //拉取角色信息填充表格
            $.post("/Base/Role/GetRole", "", function (json) {
                var tr = "";
                $.each(json, function (i, obj) {
                    tr += "<tr class=\"text-center\">" +
                               "<td>" +
                               "    <input type=\"checkbox\" name=\"name\" value=\"\" class='ck' />" +
                               "</td>" +
                               "<td>" + obj.RoleId + "</td>" +
                               "<td>" + obj.RoleSign + "</td>" +
                               "<td>" + obj.RoleName + "</td>" +
                               "<td>" + obj.Type + "</td>" +
                               "<td>" +
                                   "<ul class=\"list-inline marg operation\">" +
                                       "<li class=\"Find btn btn-success\" data-toggle=\"tooltip\" data-placement=\"right\" title=\"修改信息\">" +
                                       "   <a href=\"/Base/Role/UpdateRole/" + obj.RoleId + "\" data-toggle='modal' data-target='#EditFunction' class=\"glyphicon glyphicon-search\"></a></li>" +
                                       "<li class=\"Upda btn btn-info\" data-toggle=\"tooltip\" data-placement=\"right\" title=\"权限分配\">" +
                                       "   <a href=\"/Base/Role/EditRight?roleId=" + obj.RoleId + "\" data-toggle='modal' data-target='#EditFunction' class=\"glyphicon glyphicon-pencil\"></a></li>" +
                                       "<li class=\"Dele btn btn-danger\" data-toggle=\"tooltip\" data-placement=\"right\" title=\"删除\">" +
                                       "   <a href=\"#\" class=\"glyphicon glyphicon-remove deleteRole\" roleId='"+obj.RoleId+"'></a></li>" +
                                   "</ul>" +
                               "</td>" +
                           "</tr>";

                });
                $(".RoleList tbody").html(tr);
            });
            //拉取角色信息填充表格end
        }

    </script>

}
