<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<style type="text/css">
			/*html,body,.mui-content,#item1,#item2{
				height: 100%;
			}*/
			
			.mui-table-view-cell:after {
				left: 0;
			}
			
			.mui-content>.mui-table-view:first-child {
				margin: 0;
			}
			#ImgBox{
				position: relative;
			}
			.bag{
				position: absolute;
				left: 2.5em;
				top: -0.3em;
				background: red;
				color: white;
			}
			.none{
				display: none;
			}
		</style>
	</head>

	<body>
		<div class="mui-content">
			<ul class="mui-table-view" id="MyVe">
				<li v-for="(all,key) in obj" class="mui-table-view-cell mui-media FansLi" v-bind:OpenId="all.Key">
					<template v-for="value in all">
						<a href="javascript:;" v-for="(item,index) in value.msgs" v-if="index==0">
							<div id="ImgBox">
								<span class="mui-badge bag none"></span>
								<img class="mui-media-object mui-pull-left" v-bind:src="item.HeadImageUrl">
							</div>
							<div class="mui-media-body">
								<div class="mui-row">
									<div v-if="item.UserName !=null" class="mui-col-xs-8 mui-ellipsis">{{item.UserName}}</div>
									<div v-else class="mui-col-xs-8 mui-ellipsis">{{item.UserNick}}</div>
									<p class="mui-col-xs-4 mui-text-right Time">{{item.CreateTime}}</p>
								</div>
								<p class="mui-ellipsis UsContent">{{item.Content}}</p>
							</div>
						</a>
					</template>
				</li>
			</ul>
		</div>
		<div id="UserSheet" class="mui-popover mui-popover-bottom mui-popover-action">
			<!-- 可选择菜单 -->
			<ul class="mui-table-view">
				<li class="mui-table-view-cell">
					<a href="#">标记为已读/未读</a>
				</li>
				<li id="DeleteU" class="mui-table-view-cell">
					<a href="#">删除该聊天</a>
				</li>
			</ul>
			<!-- 取消菜单 -->
			<ul class="mui-table-view">
				<li class="mui-table-view-cell">
					<a href="#UserSheet"><b>取消</b></a>
				</li>
			</ul>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/vue.js"></script>
		<script type="text/javascript" src="../../js/jquery-1.10.2.min.js"></script>
		<script type="text/javascript" src="../../js/jquery.signalR-2.1.2.min.js"></script>
		<script type="text/javascript">
			(function($, doc) {
				mui.init({
					gestureConfig: {
						tap: true, //默认为true
						doubletap: true, //默认为false
						longtap: true, //默认为false
						swipe: true, //默认为true
						drag: true, //默认为true
						hold: false, //默认为false，不监听
						release: false //默认为false，不监听
					},preloadPages:[{
						id:"im-Chart.html",
						url:"User/im-Chart.html"
					}]
				});
				mui.plusReady(function() {
					var BaseUrl = plus.storage.getItem("BaseUrl");
					var custom = JSON.parse(plus.storage.getItem("Custom")); //获取登陆对象
					var info = null; //接收用户标识
					mui('.mui-content').on('longtap', '.FansLi', function() {
						info = this.getAttribute('mydata'); //获取当前长按的粉丝
						mui('#UserSheet').popover('toggle'); //打开菜单选项
					}); //长按某个粉丝信息
					mui("#UserSheet").on('tap', '.mui-popover>ul>li', function() {
						alert(info);
					}); //弹出菜单操作
					var userinfo = {
						UserId: custom.UserId,
						AppId: custom.AppId
					}
					mui.ajax({
						url: BaseUrl + "/Mobile/SelCustom",
						data: userinfo,
						success: function(data) {
							Action(data);
						},
						error: function(XMLHttpRequest, textStatus, errorThrown) {
							console.log("请求对象XMLHttpRequest: " + XMLHttpRequest);
							console.log("错误类型textStatus: " + textStatus);
							console.log("异常对象errorThrown: " + errorThrown);
						}
					}); //ajax
					mui(".mui-content").on("tap",".FansLi",function(){
						var Open=this.getAttribute("OpenID");
						var imChart=plus.webview.getWebviewById("im-Chart.html");
						imChart.show();
						plus.storage.setItem("isOpen","1"); 
						plus.storage.setItem("thatUse",Open);
					});
					var Action=function(data){
						var VM = new Vue({
							el: "#MyVe",
							data: {
								obj: data,
							}
						});//vue
						window.addEventListener('PlusUse', function(event){
							var li=document.getElementsByClassName("FansLi");
							var UserMsg=event.detail.info;
							UserMsg.forEach(function(v){
								for (var i=0;i<li.length;i++) {
									if(li[i].getAttribute("OpenId")==v.info.OpenID){
//										console.log(li[i].getAttribute("OpenId")==v.info.OpenID);
										console.log(li[i].childNodes[0].lastChild.innerHTML);
//										li[i].children.getElementsByClassName(".bag")[0].removeClass("none").innerText=v.Count;
//										li[i].children.getElementsByClassName(".Time")[0].innerText=v.CreateTime;
//										li[i].children.getElementsByClassName(".UsContent")[0].innerText=v.info.Content;
									}//IF
									else{
										var Name;
										if(v.UserName){
											Name=v.info.userName;
										}else{
											Name=v.info.UserNick;
										}
										var $before=$("<li  class=\"mui-table-view-cell mui-media FansLi\" OpenId=\""+v.info.OpenID+"\">"+
											"<a href=\"javascript:;\">"+
												"<div id=\"ImgBox\">"+
													"<span class=\"mui-badge bag\">"+v.Count+"</span>"+
													"<img class=\"mui-media-object mui-pull-left\" v-bind:src=\""+v.info.HeadImageUrl+"\">"+
												"</div>"+
												"<div class=\"mui-media-body\">"+
													"<div class=\"mui-row\">"+
														"<div class=\"mui-col-xs-8 mui-ellipsis\">"+Name+"</div>"+
														"<p class=\"mui-col-xs-4 mui-text-right\">"+v.info.CreateTime+"</p>"+
													"</div>"+
													"<p class=\"mui-ellipsis\">"+v.info.Content+"</p>"+
												"</div>"+
											"</a>"+
										"</li>");
										$("#MyVe").prepend($before);
									}//else
								}//For
							})//Foreach1
						})//PlusUser
					}//action
				}); //plusReady
			}(mui, document));
		</script>
	</body>

</html>