@using WXDataModel
<form action="/WXUser/Home/AllotUser" id="form" method="post">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">分配客服</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-5">请选择客服:</div>
                    <div class="col-xs-7">
                        <input type="hidden" name="OpenId" value="@ViewBag.OpenId" />
                        <select class="mySelect form-control" name="UserId">
                            @*<option value="BlackBerry">BlackBerry</option>*@
                            @foreach (var u in (List<SYS_User>)ViewBag.SYSUserList)
                            {
                                <option value="@u.UserId">@u.UserName</option>
                            }
                        </select>



                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <input type="button" id="submit" class="btn btn-primary" value="保存">
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</form>
<script>
    $(function () {
        $("#submit").click(function () {
            $.post("/WXUser/Home/AllotUser", $("#form").serialize(), function (r) {
                if (r) {
                    $("#AllotUser").modal("hide");
                    LoadUser();
                } else {
                    $("#AllotUser").modal("hide");
                    alert("操作失败!");
                }
            });
        });
    });
</script>