

<form action="/" method="post" style="min-width:300px;padding:5px;">
    <div class="user_info">
        <label for="exampleInputEmail1">用户头像</label>
        <div class="row marg">
            <div class="user_logo col-xs-4  text-left">
                <img src="" style="width:80px;height:80px;" />
            </div>
            <div class="user_title col-xs-5  col-xs-offset-3">
                <ul class="list-group  marg">
                    <li>扫码关注</li>
                    <li>手机未通过验证</li>
                    <li>关注用户</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row marg">
        <div class="form-group padd col-xs-6 padd-R-less">
            <label for="exampleInputPassword1">用户昵称</label>
            <input type="text" class="form-control" value="陈洁">
        </div>
        <div class="form-group padd col-xs-6 ">
            <label for="exampleInputPassword1">性别</label>
            <input type="text" class="form-control" value="男">
        </div>
    </div>
    <div class="row marg">
        <div class="form-group col-xs-6 padd padd-R-less">
            <label for="exampleInputPassword1">真实姓名</label>
            <input type="text" class="form-control" value="陈洁">
        </div>
        <div class="form-group col-xs-6 padd">
            <label for="exampleInputPassword1">联系电话</label>
            <input type="text" class="form-control" value="13017335024">
        </div>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">用户标识</label>
        <input type="text" class="form-control" value="hskjahewaghjdgvak">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">备注信息</label>
        <input type="text" class="form-control" value="">
    </div>
    <div class="row marg">
        <div class="form-group col-xs-4 padd padd-R-less">
            <label for="exampleInputPassword1">所在国家</label>
            <input type="text" class="form-control" value="中国">
        </div>
        <div class="form-group col-xs-4 padd padd-R-less">
            <label for="exampleInputPassword1">所在省份</label>
            <input type="text" class="form-control" value="湖南">
        </div>
        <div class="form-group col-xs-4 padd">
            <label for="exampleInputPassword1">所在城市</label>
            <input type="text" class="form-control" value="株洲">
        </div>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">详细地址</label>
        <input type="text" class="form-control" value="天元区/黄山路/205号建坤大厦">
    </div>
    <div class="row marg">
        <div class="form-group col-xs-6 padd padd-R-less">
            <label for="exampleInputPassword1">关注时间</label>
            <input type="datetime" class="form-control" value="2018-11-19">
        </div>
        <div class="form-group col-xs-6 padd">
            <label for="exampleInputPassword1">取关时间</label>
            <input type="datetime" class="form-control" value="">
        </div>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">最后消息时间</label>
        <input type="datetime" class="form-control" value="@DateTime.Now">
    </div>
    <div class="row marg">
        <div class="form-group col-xs-7 padd padd-R-less">
            <label for="exampleInputPassword1">电子邮箱</label>
            <input type="text" class="form-control" value="2367691783@qq.com">
        </div>
        <div class="form-group col-xs-5 padd">
            <label for="exampleInputPassword1">邮政编码</label>
            <input type="text" class="form-control" value="412001">
        </div>
    </div>
    <div class="row marg">
        <div class="form-group col-xs-6 padd padd-R-less">
            <label for="exampleInputPassword1">最后地理位置纬度</label>
            <input type="text" class="form-control" value="">
        </div>
        <div class="form-group col-xs-6 padd">
            <label for="exampleInputPassword1">最后地理位置精度</label>
            <input type="text" class="form-control" value="">
        </div>
    </div>
</form>