@using WXDataModel
@using WXDataModel.Extend

@section styles{
    <link href="/Content/Index.css" rel="stylesheet" />    
    @*<link href="/Content/iconfont.css" rel="stylesheet" />*@
    <style>
        .small-box-inner p{
            margin-top:20px;
        }
    </style>
}




<span>@DateTime.Now.GetTimeParagraph()</span><span>,@((Session["SYSUSER"] as SYS_User).UserName)</span>


<section class="page-body">
    <div class="row widget">
        <div class="col-md-3 col-xs-12 col-sm-6">
            <div class="small-box">
                <div class="small-box-icon bg-lightskyblue">
                    <i class="glyphicon glyphicon-shopping-cart"></i>
                </div>
                <div class="small-box-inner">
                    <h1 class="data fg-lightskyblue" id="AllCount">100</h1>
                    <p>总用户数</p>
                    @*<a class="more" href="#" title="查看更多">查看更多</a>*@
                    @*<span class="status arrow-down">95.9% <i class="glyphicon glyphicon-arrow-down"></i></span>*@
                </div>
            </div>
        </div>
        <div class="col-md-3 col-xs-12 col-sm-6">
            <div class="small-box">
                <div class="small-box-icon bg-green">
                    <i class="glyphicon glyphicon-eye-open"></i>
                </div>
                <div class="small-box-inner">
                    <h1 class="data fg-green" id="ChangeCount">656</h1>
                    <p>关注变化</p>
                    @*<a class="more" href="#" title="查看更多">查看更多</a>*@
                </div>
            </div>
        </div>
        <div class="col-md-3 col-xs-12 col-sm-6">
            <div class="small-box">
                <div class="small-box-icon bg-yellow">
                    <i class="glyphicon glyphicon-comment"></i>
                </div>
                <div class="small-box-inner">
                    <h1 class="data fg-yellow" id="NewCount">36</h1>
                    <p>上周新增用户</p>
                    @*<a class="more" href="#" title="查看更多">查看更多</a>*@
                </div>
            </div>
        </div>
        <div class="col-md-3 col-xs-12 col-sm-6">
            <div class="small-box">
                <div class="small-box-icon bg-red">
                    <i class="glyphicon glyphicon-stats"></i>
                </div>
                <div class="small-box-inner">
                    <h1 class="data fg-red" id="CancelCount">
                        $2,340
                    </h1>
                    <p>上周取关用户</p>
                    @*<p class="text-muted">最近30天</p>*@
                    @*<span class="status arrow-up">95.9%</span>*@
                </div>
            </div>
        </div>
    </div>
    <div class="row widget">
        <section class="col-lg-7 widget-drag ui-sortable">
            <div class="box chart">
                <div class="box-header ui-sortable-handle" data-trigger="drag">
                    <h3 class="box-title">关注人数来源</h3>
                    <div class="box-tools pull-right">
                        <button class="" type="button" data-toggle="collapse">
                            <i class="iconfont icon-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body chart">
                    <canvas id="myChart1"  class="myChart" style="width:100%;height:300px;"></canvas>
                </div>
            </div>




            @*<div style="width:500px;">
                <canvas id="myChart" style="width:100%;height:300px;"></canvas>
            </div>*@
        </section>
        <section class="col-lg-5 widget-drag ui-sortable">
            <div class="box chart">
                <div class="box-header ui-sortable-handle" data-trigger="drag">
                    <h3 class="box-title">关注人数变化</h3>
                    <div class="box-tools pull-right">
                        <button class="" type="button" data-toggle="collapse">
                            <i class="iconfont icon-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body chart">
                    <canvas id="myChart2" class="myChart" style="width:100%;height:300px;"></canvas>
                </div>
            </div>

        </section>
    </div>


</section>
<script src="/Scripts/Chart.min.js"></script>
<script>

    $(function () {
        Init();
    });
    var ctx1 = document.getElementById("myChart1").getContext('2d');
    var ctx2 = document.getElementById("myChart2").getContext('2d');
    var data = {
        datasets: [{
            data: [700, 500, 600, 300, 100, 400],
            backgroundColor: [
                'rgba(255, 108, 96, 1)',
                'rgba(255, 153, 78, 1)',
                'rgba(245, 217, 74, 1)',
                'rgba(40, 193, 110, 1)',
                'rgba(29, 159, 189, 1)'
            ],
            label: '浏览器'
        }],
        labels: [
            'Chrome',
            'FireFox',
            'IE',
            'Safari',
            'Opera',
            'Navigator'
        ]
    };

    


    var options = {
        animation: {
            easing: 'easeOutBounce',
        },
        legend: {
            display: true,
            labels: {
                boxWidth: 100,
                usePointStyle: true
            }
        }
    };
    var lineChartOptions = {
        //Boolean - If we should show the scale at all
        showScale: true,
   
        //Boolean - whether to make the chart responsive to window resizing
        responsive: true,
    };

    function Init() {
        InitPop();
        InitLine();
    }
    function InitPop() {
        var mydata = {
            datasets: [{
                data: [],
                backgroundColor: [
                    'rgba(255, 108, 96, 1)',
                    'rgba(255, 153, 78, 1)',
                    'rgba(245, 217, 74, 1)',
                    'rgba(40, 193, 110, 1)',
                    'rgba(29, 159, 189, 1)',
                    'rgba(114, 83, 52, 1)',
                    'rgba(130, 57, 53, 1)',
                    'rgba(254, 254, 254, 1)',
                    'rgba(30, 41, 61, 1)',
                ],
                label: '七天内新增用户来源'
            }],
            labels: []
        };
        $.post("/Base/Home/GetUserSummary", function (r) {
            console.info(r);
            $.each(r.list, function (i, obj) {
                if (obj.val != 0) {
                    mydata.datasets[0].data.push(obj.val);
                    mydata.labels.push(obj.key);
                }
            });
            //console.info(mydata);
            $("#NewCount").html(r.new_user);
            $("#CancelCount").html(r.cancel_user);
            $("#ChangeCount").html((r.new_user - r.cancel_user));
            var myChart1 = new Chart(ctx1, {
                //type: 'doughnut',
                type: 'polarArea',
                data: mydata,
                options: options
            });
        });

    }

    function InitLine() {
        var mydata = {
            datasets: [{
                label: "关注人数",
                fillColor: "rgba(220,220,220,0.2)",
                strokeColor: "rgba(220,220,220,1)",
                pointColor: "rgba(220,220,220,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(220,220,220,1)",
                data: []
            }],
            labels: []
        };
        $.post("/Base/Home/GetUserCumulate", function (r) {
            //console.info(r);
            var list = JSON.parse(r).list;
            var t = 0;
            $.each(list, function (i, obj) {
                //console.info(obj);
                mydata.datasets[0].data.push(obj.cumulate_user);
                mydata.labels.push(obj.ref_date);
                t = obj.cumulate_user;
            });
            //console.info(mydata);
            $("#AllCount").html(t);
            var myChart2 = new Chart(ctx2, {
                data: mydata,
                type: 'line',
                options: lineChartOptions
            });
        });
    }
</script>