
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="/Content/bootstrap.css" rel="stylesheet" />
    <link href="/Content/Login.css" rel="stylesheet" />
    <style>
        .input-group-addon {
            padding: 5px 12px 10px 12px;
        }
    </style>
</head>

<body class="login-page sidebar-expanded">
    <div class="login-wrapper">
        <div class="header skew">
        </div>
        <div class="login-logo">
            <a href="#">
                <strong>Welcome</strong>
            </a>
        </div>
        <div class="login-body">
            <p class="text-primary text-center">欢迎使用微信公众号管理平台</p>
            <div class="form">
                <form method="post" id="LoginForm" action="/Base/Home/Login">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-user"></i>
                            </span>
                            <input type="text" name="LoginId" value="xcy" class="form-control" placeholder="输入用户名/电子邮箱">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-lock"></i>
                            </span>
                            <input type="password" name="Password" value="xcy" class="form-control" placeholder="输入密码">
                        </div>
                    </div>

                    <div class="form-group">

                        <button type="button" id="Login" class="btn btn-primary" style="width:100%;">登录</button>

                    </div>
                </form>

            </div>
        </div>
    </div>


    <script src="/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/Scripts/bootstrap.min.js"></script>
    <!-- icheck.js -->


    <script type="text/javascript">
        $("#Login").click(function () {
            $.post("/Base/Home/Login", $("#LoginForm").serialize(), function (r) {
                if (r) {
                    location.href = "/Base/Home/Index";
                } else {
                    alert("登录失败!");
                }
            });
        });
    </script>


</body>

</html>
