@using WXDataModel
@{
    ViewBag.Title = "Index";
    List<WX_AppType> TypeList = ViewBag.TypeList as List<WX_AppType>;
}

@section styles{
    <link href="~/Content/Common.css" rel="stylesheet" />
}




<div class="appcontent">
    <div class="col-xs-2 padd usetlef">
        <nav class="navbar marg  navbar-default navbar-static-top">
            <div class="col-xs-12">
                <h5 class="navbar-text navbar-left">公众号分类<a href="#" class="navbar-link"></a></h5>
            </div>
        </nav>
        <ul style="list-style:none;" class="ul-full" id="QueryByType">
            <li>
                <span><a href="#" AppType="0">全部</a></span>
                <ul style="list-style:none;">
                    @foreach (var i in TypeList)
                    {
                        <li><a href="#" AppType="@i.TypeId">@i.TypeName</a></li>
                    }
                </ul>
            </li>
        </ul>

    </div>
   
    <div class="col-xs-10 padd">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="rightheadingone">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseRight" aria-expanded="true" aria-controls="collapseRight">
                            查询内容
                        </a>
                    </h4>
                </div>
                <div id="collapseRight" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="rightheadingone">
                    <div class="panel-body">
                        <div class="col-xs-11">
                            <input type="hidden" name="Type" id="Type" value="All" />
                            <div class="form-inline topfind">
                                <div class="form-group">
                                    <label for="AppName">公众号名称:</label>
                                    <input type="text" class="form-control" id="AppName" name="AppName" placeholder="公众号名称">
                                </div>
                                <div class="form-group">
                                    <label for="WXId">微信号:</label>
                                    <input type="text" class="form-control" id="WXId" name="WXId" placeholder="微信号">
                                </div>
                                <div class="form-group">
                                    <label for="CompanyName">公司名称:</label>
                                    <input type="text" class="form-control" id="CompanyName" name="CompanyName" placeholder="公司名称">
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-xs-1">
                            <div>
                                <a href="#" class="btn btn-default" id="Search">查询</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="datalist">
                <nav class="navbar marg  navbar-default navbar-static-top">
                    <div class="col-xs-12">
                        <h5 class="navbar-text navbar-left">数据列表<a href="#" class="navbar-link"></a></h5>
                        <div class="navbar-text navbar-right ">
                            <ul class="list-inline marg">
                                <li>
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <a href="/Base/APP/AddApp" data-toggle="modal" data-target="#EditApp">新增</a>
                                </li>
                                <li><i class="glyphicon glyphicon-pencil"></i><a href="#">修改</a></li>
                                <li><i class="glyphicon glyphicon-list"></i><a href="#">查看</a></li>
                                <li><i class="glyphicon glyphicon-minus"></i><a href="#">删除</a></li>
                                <li><i class="glyphicon glyphicon-refresh"></i><a href="#">刷新</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <div class="datacontent">
                    <div class="page-header">
                        <ul class="list-inline">
                            <li>
                                每页显示
                                <select>
                                    <option value="value">5</option>
                                    <option value="value">10</option>
                                </select>
                                条记录
                            </li>
                            <li>共有记录：<span>50</span>条</li>
                            <li>总页数：<span>10</span>页</li>
                        </ul>
                    </div>
                    <div class="fromcontent">
                        <table class="table table-bordered table-hover appList">
                            <thead>
                                <tr class="text-center">
                                    <th><input type="checkbox" name="name" id="CheckAll"/></th>
                                    <th>账号类型</th>
                                    <th>公众号名称</th>
                                    <th>公众号ID</th>
                                    <th>微信号</th>
                                    <th>公司名称</th>
                                    <th>公众号状态</th>
                                    <th>备注信息</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div>
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                <li class="disabled marg">
                                    <a href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                                <li class=""><a href="#">2 <span class="sr-only">(current)</span></a></li>
                                <li>
                                    <a href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>

                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();

            GetApp();

            //删除方法
            $(document).on("click", ".deleteApp", function () {
                var appId = $(this).attr("AppId");
                if (confirm("确定要删除吗?")) {
                    $.post("/Base/APP/DeleteApp/"+appId, "", function (result) {
                        if (result.Result) {
                            alert('修改状态成功!');
                            GetApp();
                        } else {
                            alert(result.ErrorMsg);
                        }
                        
                    });
                }
            });
            
            //删除end

            $("#Search").click(function () {
                GetApp();
            });
            //根据类型选择公众号
            $("#QueryByType li a").click(function () {
                var type = $(this).attr("AppType");
                $("#Type").val(type);
                GetApp();
            });
            //根据类型选择公众号
        });
        //拉取公众号信息填充表格
        function GetApp() {
            var type = $("#Type").val();
            var key = "{'AppName':'" + $("#AppName").val() + "','WXId':'" + $("#WXId").val() + "','CompanyName':'" + $("#CompanyName").val() + "'}";
            $.post("/Base/APP/GetAppList", "typeId="+type+"&key="+key, function (json) {
                var tr = "";
                $.each(json, function (i, obj) {
                    tr += "<tr class=\"text-center\">" +
                               "<td>" +
                               "    <input type=\"checkbox\" name=\"name\" value=\"\" class='ck'/>" +
                               "</td>" +
                               "<td>" + obj.AppType + "</td>" +
                               "<td>" + obj.AppName + "</td>" +
                               "<td>" + obj.AppId + "</td>" +
                               "<td>" + obj.WXId + "</td>" +
                               "<td>" + obj.CompanyName + "</td>" +
                               "<td>" + obj.AppState + "</td>" +
                               "<td>" + obj.Remark + "</td>" +
                               "<td>" +
                                   "<ul class=\"list-inline marg operation\">" +
                                       //"<li class=\"Find btn btn-success\" data-toggle=\"tooltip\" data-placement=\"right\" title=\"查看\">" +
                                       //"   <a href=\"#\" class=\"glyphicon glyphicon-search\"></a></li>" +
                                       "<li class=\"Upda btn btn-info\" data-toggle=\"tooltip\" data-placement=\"right\" title=\"修改\">" +
                                       "   <a href=\"/Base/APP/UpdateApp/" + obj.AppId + "\" data-toggle=\"modal\" data-target=\"#EditApp\" class=\"glyphicon glyphicon-pencil\"></a></li>" +
                                       "<li class=\"Dele btn btn-danger\" data-toggle=\"tooltip\" data-placement=\"right\" title=\"删除\">" +
                                       "   <a href=\"#\" class=\"glyphicon glyphicon-remove deleteApp\" AppId=" + obj.AppId + "></a></li>" +
                                   "</ul>" +
                               "</td>" +
                           "</tr>";

                });
                $(".appList tbody").html(tr);
                console.info(tr);
            });
            
        }
        //拉取公众号信息填充表格end
    </script>

}
