
@{
    ViewBag.Title = "Index";
}
@using WXDataModel
@using WXDataUI.Helpers
@using WXDataModel.Extend
@{
//List<WX_UserGroup> GroupList = ViewBag.GroupList as List<WX_UserGroup>;
//PageList<WX_User> MyPage = ViewBag.Page as PageList<WX_User>;
//WX_App MyApp = (Session["SYSUSER"] as SYS_User).WX_App;
}
@section styles{

    <link href="~/Content/Common.css" rel="stylesheet" />
    <style>
        .UserGroup .nav > li > a {
            padding: 5px;
            font-size: 13px;
        }

        .form-group label {
            height: 34px;
            line-height: 34px;
        }

        .UserGroup .panel {
            margin-bottom: 0;
        }

        .UserGroup .panel-heading {
            background-color: #fff;
        }

        .UserGroup .panel-title a {
            font-size: 13px;
            border: none;
        }

        .ul-full {
            margin-top: 10px;
        }

        .toolList i {
            font-size: 10px;
        }

        .toolList .btn {
            padding: 0 5px;
        }
    </style>
}

<div class="usercontent">
    <div class="col-xs-2 padd usetlef">
        <nav class="navbar marg  navbar-default navbar-static-top">
            <div class="col-xs-12">
                <h5 class="navbar-text navbar-left">菜单分类<a href="#" class="navbar-link"></a></h5>
            </div>
        </nav>
        <div class="">
            <ul style="list-style:none;" class="ul-full" id="">
                
                <li class="">
                    <div style="margin-top:20px;">
                        <div class="loader-inner ball-clip-rotate">
                            <div></div>
                        </div>
                    </div>
                </li>
            </ul>

        </div>

    </div>
    <div class="col-xs-10 padd">
        <div>
            <div class="datalist">
                <nav class="navbar marg  navbar-default navbar-static-top">
                    <div class="col-xs-12">
                        <h5 class="navbar-text navbar-left">数据列表<a href="#" class="navbar-link"></a></h5>
                        <div class="navbar-text navbar-right ">
                            <ul class="list-inline marg">
                                <li><i class="glyphicon glyphicon-plus"></i>
                                    <a href="/WXMenu/Home/AddMenu" data-target="#EditMenu" data-toggle="modal" id="">新增菜单</a></li>
                                <li><i class="glyphicon glyphicon-list"></i><a href="#">编辑</a></li>
                                <li><i class="glyphicon glyphicon-remove-circle"></i><a href="#">删除</a></li>
                                <li><i class="glyphicon glyphicon-download"></i><a href="#" id="Pull">获取服务器菜单</a></li>
                                <li><i class="glyphicon glyphicon-upload" ></i><a href="#" id="Sync">同步至服务器</a></li>
                            </ul>
                        </div>

                    </div>
                </nav>
                <div class="datacontent">

                    <div class="fromcontent">
                        <table class="table table-bordered table-hover menuList">
                            <thead>
                                <tr class="text-center">
                                    <th><input type="checkbox" name="name" id="CheckAll" /></th>
                                    <th>菜单名称</th>
                                    <th>菜单类型</th>
                                    <th>菜单KEY</th>
                                    <th>菜单URL</th>
                                    <th>排序号</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <nav class="PageIndexList" aria-label="Page navigation">
                            <ul class="pagination">
                                @*@if (MyPage.HasPreviousPage)
                                {
                                    <li>
                                        <a href="#" id="PrevPage" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                }
                                else
                                {
                                    <li class="disabled">
                                        <a href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                }
                                @for (var i = 1; i <= MyPage.TotalPages; i++)
                                {
                                    <li><a href="#" PageIndex="@i">@i</a></li>
                                }
                                @if (MyPage.HasNextPage)
                                {
                                    <li>
                                        <a href="#" id="NextPage" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                }
                                else
                                {
                                    <li class="disabled">
                                        <a href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                }*@


                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<script>
    $(function () {
        GetMenu();
        $("#Sync").click(function () {
            $.post("/WXMenu/Home/Sync", function (r) {
                //console.info(r);
                //if (r.errcode == "0") {
                //    alert("提交成功!");
                //} else {
                //    alert("提交失败!" + r.errmsg);
                //}
                alert("提交成功!");
            });
        });
        $("#Pull").click(function () {
            $.post("/WXMenu/Home/Pull", function (r) {
                GetMenu();
            });
        });

        //删除
        $(document).on("click", ".DeleteMenu", function () {
            var id = $(this).attr("data-id");
            if (confirm("确定要删除吗?")) {
                $.post("/WXMenu/Home/Delete/" + id, function (r) {
                    if (r) {
                        GetMenu();
                    } else {
                        alert("error");
                    }

                });
            }
        });
        //删除end
    });
    function GetMenu(){
        $.post("/WXMenu/Home/Select_gzh_id", function (result) {
            var tr = "";
            $.each(result, function (i, obj) {
                tr += "<tr class='text-center'>"
                    + "<td><input type='checkbox' name='name' value='' class='ck' ></td>"
                    + "<td>" + obj.MenuName + "</td>"
                    + "<td>" + obj.TypeName + "</td>"
                    + "<td>" + obj.MenuKey + "</td>"
                    + "<td>" + obj.MenuUrl + "</td>"
                    + "<td>" + obj.MenuSort + "</td>"
                    + "<td>"
                    + "<ul class='list-inline marg operation'>"
                    +   "<li class='Find btn btn-success' data-toggle='tooltip' data-placement='right' title='查看'>"
                    + "<a href='/WXMenu/Home/Update/" + obj.MenuId + "' data-toggle='modal' data-target='#EditMenu' class='glyphicon glyphicon-search' data-id='" + obj.MenuId + "'></a></li>"
                    + "<li class='Find btn btn-danger DeleteMenu' data-toggle='tooltip' data-placement='right' data-id='" + obj.MenuId + "' title='删除' >"
                    + "<a href='#' data-toggle='modal' data-target='#' class='glyphicon glyphicon-remove '  ></a></li>"
                    + "</ul></td></tr>";

            });
            $(".menuList>tbody").html(tr);
        });
    }
</script>